.wrapper
  = render 'devise/shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member : 
          - @group.users.each do |user|
            = user.name
          %li.member
      .right-header
        .right-header__button
          = link_to "Edit", edit_group_path(@group.id)

    .messages
      .message{"data-message_id": "8790"}
        .message__upper-info
          %p.message__upper-info__talker yahoo
          %p.message__upper-info__date 2019/10/26(Sat) 13:59:47
        %p.message__text お腹すいた
    .form
      %form#new_message.new_message{"accept-charset": "UTF-8", action: "/groups/3547/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "hjavNWe14xcKwSQEMdOFZCkB6JakQk6BvXz0w20WBiM9D0zvOfLs2kSZg3K8000JCkAd8hNdBEJTnhtB3ecE7w=="}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
