.side-bar {
  box-sizing: border-box;
  color: white;
  width: 300px;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: white;
        font-size: 16px;
      }
    }
  }

  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: white;
        font-size: 15px;
      }
      &__message {
        color: white;
        font-size: 11px;
        margin-top: 5px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;

  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;

    &__left-box {
      margin-top: 35px;

      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }

      &__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;

        li+li {
          margin-left: 0.3rem;
        }
      }
    }

    &__edit-btn {
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
    }
  }

  .messages {
    height: 514px;
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;

    .message {
      padding-bottom: 40px;

      &__upper-info {
        display: flex;
        margin-bottom: 10px;

        &__talker {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .form {
    height: 50px;
    padding: 20px 40px;
    background-color: #ddd;

    form {
      display: flex;
      line-height: 50px;

      .input-box {
        position: relative;
        width: 940px;

        &__text {
          height: 50px;
          width: 900px;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }

        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;

          &__file {
            display: none;
          }
        }
      }

      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 30px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}